<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
                     minimum-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/process" method="POST">
        
        <label for="fer">First Name</label>
        <input type="text" name="ider" id="ider" placeholder="Your id (if you know)">
        <label for="fer">First Name</label>
        <input type="text" name="firster" id="fer" placeholder="First Name">

        <label for="ler">Second Name</label>
        <input type="text" name="laster" id="ler" placeholder="Second Name">

        <input type="submit">
    </form>
</body>
